*.py[cod]

# Packages
/*.egg
/*.egg-info
/dist/
/tests/videos/*json
/tests/videos/frames/*
/tests/videos/*mp4
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.swp


output.txt
*.o
VideoReader.so
*.log
*.json
